<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <h2>
      Report What just happened to the host.
      Thank You !
    </h2>

</head>
<body>
      <pre>













                            .-.
                             \ \
                              \ \
                              | |
ERROR DOESN'T SCARE MEOW      | |
          /\---/\   _,---._   | |
         /^   ^  \,'       `.  ;
        ( O   O   )           ;
         `.=o=__,'            \
           /         _,--.__   \
          /  _ )   ,'   `-. `-. \
         / ,' /  ,'        \ \ \ \
        / /  / ,'          (,_)(,_)
       (,;  (,,)


<:3(_)~~~~



      </pre>
</body>
</html>
