{% extends 'index.html' %}

 {% if weather %}
    <div class="card evening-morning">
        <div class="delete-wrapper">
            <form action="#" method="POST">
                <input type="hidden" name="id" value="">
                <button class="delete-button" type="submit">&#10006;</button>
            </form>
        </div>
        <div class="degrees"><span>{{ weather.temp }}<span class="celsius"> °C</span></span></div>
        <div class="state">{{ weather.main }}</div>
        <div class="empty"></div>
        <div class="city">{{ weather.city_name }}</div>
    </div>
    {% endif %}
